wallpapers/1440x900.jpg
wallpapers/1920x1080.jpg
wallpapers/2560x1080.jpg
wallpapers/2560x1600.jpg
wallpapers/Mobile - 1080x1920 [2].jpg
wallpapers/Mobile - 1080x1920.jpg
wallpapers/Mobile - 1080x1920 [2].jpg
wallpapers/Mobile - 1080x1920 [2].jpg
wallpapers/Mobile - 1080x1920 [2].jpg
.vscode/launch.json
