@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
    margin: auto;
  }

  #page-home header a {
    position: absolute;
    bottom: 18px;

    left: 50%;

    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-search-results img {
    height: 250px;
  }

  #page-search-results header img {
    width: 60%;
  }
}

@media (max-width: 400px) {
  #page-search-results header {
    display: grid;
    grid-template-columns: 2.5fr 1.75fr;
    grid-template-rows: 100px;
  }
  #page-search-results header a {
    align-items: center;
    text-align: center;
  }
  #page-search-results header img {
    align-items: center;
    width: 80%;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 860px) {
  #page-home {
    background-position-y: 200px;
  }
}
