* {
    margin: 0;
    padding: 0;
}

:root{
    --title-color: #322153;
    --primary-color: #34cb79;
}

a {
    text-decoration: none;
}

body{
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}


h1, h2, h3, h4, h5, h6 {
font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

html {
  font-family: "Roboto", sans-serif;
}

#page-home{
    height: 100vh;
    background: url('../assets/icons/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span{
    display: flex;
    background-image: url('../assets/icons/log-in.svg');
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

#page-home main {
    max-width: 660px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home main a {
    width: 100%;
    max-width: 360px;
    background-color: var(--primary-color);
    height: 72px;
    border-radius: 8px;

    display: flex;
    align-items: center;

    margin-top: 40px;

    transition: 400ms;
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span {
    width: 72px;
    height: 72px;
    background-color: rgba(0,0,0,0.08);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#page-home main a span:after {
    content: "";
    background-image: url('../assets/icons/search.svg');
    width:20px;
    height:20px;
}

#page-home main a strong {
    flex: 1;
    color:white;
    text-align: center;
}

#page-home main h1 {
    font-size: 54px;
}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}
