html {
  font-family: "Roboto", sans-serif;
}

/* BOX MODEL
Modelo de Caixa
Toda caixa tem
largyra, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display), alinhamentos
*/

body{
    background: #f0f0f5;
}

#page-home{
    height: 100vh;
    background: url('../assets/icons/home-background.svg') no-repeat;
    background-position: 35vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


