html {
  font-family: "Roboto", sans-serif;
}

/* BOX MODEL
Modelo de Caixa
Toda caixa tem
largyra, altura, espaçamentos, preenchimentos,
bordas, cor, fundo, maneira que é vista pelo html (display), alinhamentos
*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
