@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
    padding-right: 100px;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 18px;

    left: 50%;

    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (max-height: 860px) {
  #page-home {
    background-position-y: 200px;
  }
}
